*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Rubik Mono One', sans-serif;
  text-align: center;
}


.bottone{
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 100;
  text-align: right;
  padding-top: 10px;
  
}

.contenitore{
  width: 100%;
  margin: auto;
  height: 100vh;
  position: relative;
  z-index: 50;
}



.contenuto{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
  
 #rosso{
  background-color: red;
 } 

 #verde{
  background-color: green;
 }

 #giallo{
  background-color: yellow;
 }

 h1{
   color: yellow;
   font-size: 75px;
 }

 .h1-verde{
   color: green;
   
 }



 a{
  height: 70px;
  width: 70px;
  font-size: 20px;
  line-height: 70px;
  margin-right: 38px;
  border-radius: 50%;
  color: black;
  border: 1px solid black;
  background-color: white;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

a:active{
  box-shadow: 0 10px 10px black;
}




